/* Oculta la barra de scroll pero mantiene el scroll funcional */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE y Edge */
  scrollbar-width: none;     /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome, Safari y Opera */
}

#mobile-index-container {
  transition: opacity 0.3s ease, transform 0.3s ease;
}