
#index-list::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: transparent; 
}

/* Add a thumb */
#index-list::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 3px;
}

.index-item {
    margin: 2px 0; 
    padding: 4px 8px; 
    border-radius: 4px; 
    transition: background-color 0.2s ease; 
    color: #d2d2d2;
}

.index-item:hover {
    background-color: #0F172A; 
    color: #3b82f6
}